html{
    background-color: darkseagreen;
}

body{
    font-family: "Bookman Old Style";
    margin: 50px;
    Text-align: center;
}

h2{
    margin: 30px;
}

body img{
    margin: 50px;
}

footer{
    text-align: center;
    text-size: 10;
}